body {
    width: 85%;
    margin: 0 auto;
    padding: 0 20px;
}

.nav{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.dropbtn {
    font-family: 'Kalam', cursive;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 25px;
    opacity: 0.6;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:green;
  }

.nav a{
    font-family: 'Kalam', cursive;
    color: black;
    text-decoration: none;
    font-size: 25px;
    opacity: 0.6; 
}

.nav a:hover{
    color: green
}


.intro{
    background-image: url(https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
    background-size: cover; 
    
}

.intro img{
    max-width: 85%;
    height: auto;
    margin: 0 0 400px 0;
}


.intro p{
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    text-align: center;
    text-transform: lowercase;
    padding: 50px 0;
}


section.article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 60px;
    
}
.article p{
    font-family: 'Kalam', cursive;
    font-size: 30px;
    text-align: justify;
}



.footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 55px;
    border-top: 3px solid black;
}

.footer a{
    font-family: 'Permanent Marker', cursive;
    display: flex;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    padding: 20px;
    background: gray;
}

.footer a:hover{
    color: green;
}
